.home-articles{
    padding: 0;
}
.content{
    display: block;
    background: url("../img/img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 109vh;
    margin: auto;
    width: 80vw;
}
.form-box input, textarea{
    width: 43vw;
    font-size: 16px;
    padding: 4px 13px;
    margin: 10px;
}
textarea{
    color: blueviolet;
}
.btn{
    margin: 10px;
}