@media screen and (max-width: 1252px) {
  .nav-left ul {
    margin: 0px;
  }
}
@media screen and (max-width: 1084px) {
  .navigation {
    flex-direction: column;
  }
  .nav-left {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .nav-left ul {
    text-align: center;
  }
  .content-right {
    display: none;
  }
  .content {
    text-align: center;
  }
  .home-article {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .home-articles {
    text-align: center;
  }
  .year-box {
    width: auto;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    height: auto;
  }
  .year-box div {
    display: flex;
    margin: 10px 10px;
  }
  .nav-right form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-right form input {
    margin: 0;
  }
  .footer {
    text-align: center;
  }
  .row {
    flex-direction: column;
  }
  .blog-post-content {
    max-width: 85vw;
  }
}
